@page "/episodes"
@using RickAndMortyWiki.Components

<PageTitle>Episodes</PageTitle>

@if (_episode is null)
{
    <Spinner/>
}
else
{
    <div class="default-font text-center">
            
        <h1>@_episode.Series "@_episode.Name"</h1>
        <h2>Release date: @_episode.ReleaseDate</h2>

        <div class="bold-weight" >Select episode:</div>
        <InputSelect class="ep-selector"
                     ValueChanged="@((int id) => SelectionChanged(id))"
                     ValueExpression="@(() => _selectedEpisodeId)"
                     Value="@_selectedEpisodeId">
            @foreach (var episode in _episodes)
            {
                <option value="@episode.Id">@episode.Series</option>
            }
        </InputSelect>
        
        <h2>Characters</h2>
            
        <CardsWrapper Characters="@_episode.Characters" OnClick="OnCardClick"></CardsWrapper>
    </div>
}


@*blazor component (input selector)  doesn't see isolated css :)))*@
<style>
    .ep-selector{
            border: 2px solid rebeccapurple;
            border-radius: 10px;
            text-align: center;
            font-weight: bolder;
            margin: 10px;
            width: 15%;
            min-width: 150px;
        }
</style>